.idea/
.DS_Store
.ipynb_checkpoints
__pycache__

# output from using codecarbon
emissions.csv
initial_notebooks/visualize_emissions.py
initial_notebooks/visual_check

# thousands of check figures
figures/*